
 <div class='hero'>
    <div class='container'>
        <div class='content'>
            <div class='col-1'>
                <h1>CSO's Regulations</h1>
                <h1><span class='figma'>FBFI</span></h1>
                <p>Lorem ipsum dolor sit amet, consec tetur adipisicing elit.
        Architecto iure fuga deleniti sit! Cum doloribus, nesciunt
        laboriosam eos praesentium veritatis!</p>
        <!--    <div class='used-by'>
                <p>USED BY</p>
                <div class='icons'>
          
                </div>
            </div> -->
            </div>
            <div class='col-2'>
                <div class='form-layout'>
                    <div class='form-container'>
                        <p class='sign-in-txt'>Sign in with</p>
                        <div class='social-login'>
                            <span><i class="fa fa-facebook"></i></span>
                            <span></span>
                            <span><i class="fa fa-google"></i></span>
                        </div>
                        <div class='divider'>
                            <p><span>Or</span></p>
                        </div>
                        <form action=''>
                            <input type='text' placeholder='Name' />
                            <input type='text' placeholder='Email' />
                            <input type='text' placeholder='Password' />
                            <button>Create Your Account</button>
                        </form>
                    </div>
                    <div class='form-footer'>
                        <p>
                            By signing up, you agree to our
                            <span class='figma'> Terms, Data Policy</span>
                             and <span class='figma'> Cookies Policy</span>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>